.header {
  background-color: #232328;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #cccbd4;
  border-bottom: 1px solid #323237;
  .logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    img {
      width: 30px;
      margin-right: 8px;
    }
  }
}