.board {
  padding-top: 15px;
  overflow-y: auto;
  margin-right: 10px;
}
.list {
  padding: 0 30px;
  border-bottom: 1px solid #1f2848;
  padding-top: 20px;
  padding-right: 20px;
  .list-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 10px 0;
    .add-more {
      font-size: large;
    }
  }
  .list-content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    padding-bottom: 20px;
    overflow-x: auto;
  } 
}

.card {
  max-width: 330px;
  min-width: 330px;
  background-color: #323d5f;
  margin-right: 15px;
  border-radius: 7px;
  &.card-green {
    border-left: 9px solid #5cc976;
    .score-green {
      background-color: #3c5f65;
      color: #51a470;
    }
  }
  &.card-orange {
    border-left: 9px solid #f5ab42;
    .score-orange {
      background-color: #625858;
      color: #dc9d46;
    }
  }
  &.card-red {
    border-left: 9px solid #e1465b;
    .score-red {
      background-color: #5d3f5e;
      color: #c7455c;
    }
  }
  .card-body {
    padding: 15px 20px;
    .card-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .subtitle {
        margin-top: 3px;
        color: #919dad;
        font-size: 14px;
      }
      .score {
        width: 37px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 13px;
        font-weight: bold;
      }
    }
    .card-description {
      color: #caccd5;
      margin-bottom: 7px;
      font-size: 14px;
    }
  }
  .card-footer {
    padding: 10px 20px;
    background-color: #212b4c;
    border-radius: 0 0 7px 0;
    .card-details {
      display: flex;
      justify-content: space-between;
      span {
        margin-left: 4px;
        font-size: 12px;
      }
    }
  }
}