.board-container{
  position: fixed;
  top: 40px;
  left: 150px;
  right: 150px;
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 20px 1px #8e8e8e33;
  .board-header{
    color: #2f3953;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .board{
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    padding-bottom: 17px;
  }
}
.list{
  margin-top: 20px;
  margin-right: 20px;
  max-width: 300px;
  min-width: 300px;
  padding: 20px;
  padding-right: 12px;
  padding-bottom: 10px;
  border-radius: 12px;
  background-color: #f4f7f9;
  .list-title{
    color: #7786ab;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    a{
      display: inline-block;
      color: #7786ab;
      margin-right: 15px;
    }
  }
  .list-content{
    max-height: 74vh;
    overflow-y: auto;
    padding-right: 10px;
  }
}
.card {
  background-color: white;
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 13px;
  box-shadow: 0 2px 5px #e4e4e4d4;
  margin-bottom: 12px;
  .card-labels{
    display: flex;
    margin-bottom: 15px;
    .label{
      border-radius: 24px;
      padding: 5px 14px;
      margin-right: 5px;
      &.blue {
        color: #4d70f6;
        background-color: #dfe6ff;
      }
      &.green{
        color: #6be56a;
        background-color: #e5ffe5;
      }
    }
  }
  .card-title{ 
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343e57;
  }
  .card-progress{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .progress-line{
      position: relative;
      background-color: #e0e5eb;
      padding: 3px 0px;
      flex-grow: 1;
      margin-right: 10px;
      border-radius: 24px;
      &::before{
        content: '';
        background-color: #2a4fd7;
        padding: 3px 0px;
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        border-radius: 24px;
      }
      &.w-95{
        &::before {
          width: 95%;
        }
      }
      &.w-38{
        &::before {
          width: 38%;
        }
      }
      &.w-100{
        &::before {
          width: 100%;
        }
      }
    }
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-date{
      display: flex;
      align-items: center;
      i {
        color:#c0cee1;
        font-size: 20px;
        margin-right: 10px;
      }
      span{
        color: #83909b;
        font-size: 13px;
      }
    }
    .card-members .avatar {
      background: #94c7f3;
      border-radius: 100%;  
      width: 22px;
    }
  }
}