.btn-section {
  margin: 4rem 0;
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
  }
  .btn {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    display: inline-block;
    &.default {
      color: #28b76b;
      background-color: white;
      margin-right: 0.5rem;
      @media (max-width: 650px) {
        margin-right: unset;
        margin-bottom: 20px;
      }
    }
    &.primary {
      background-color: #28b76b;
      color: white;
      margin-left: 0.5rem;
      @media (max-width: 650px) {
        margin-left: unset;
      }
    }
  }
}