html {
  height: 100%;
  font-size: 15px;
}
html body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html body .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 10px;
}
html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0;
}
::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}

::-webkit-scrollbar-track:horizontal {
  background: #0067A2;
  border-radius: 4px;
  margin: 0px 20px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #66A3C7;
  border-radius: 4px;
}

::-webkit-scrollbar-track:vertical {
  background: #D8DBE2;
  border-radius: 4px;
  margin: 0px 20px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #BFC2CD;
  border-radius: 4px;
}

.header {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #213454;
  padding-bottom: 0;
}

.board {
  display: flex;
  padding-top: 40px;
  color: #484848;
  align-items: start;
  overflow-x: auto;
  flex-grow: 1;
}
.board::after {
  content: "";
  padding: 10px;
}

.list {
  background-color: #f4f5f7;
  border-radius: 5px;
  margin-left: 20px;
  padding-bottom: 30px;
  max-width: 350px;
  min-width: 350px;
  padding-right: 5px;
}
.list.yellow {
  background-color: #ffe380;
}
.list.yellow .due-date {
  background-color: #ffab00;
}
.list.green {
  background-color: #80ffd9;
}
.list.blue {
  background-color: #80cdff;
}
.list .list-title {
  padding: 30px 16px;
  padding-right: 36px;
  color: #5f6d85;
}
.list .list-title .title {
  margin-right: 7px;
  font-weight: bold;
}
.list .list-title .number-of-tasks {
  font-weight: bold;
  margin-right: 12px;
}
.list .list-title .due-date {
  color: white;
  padding: 3px 12px;
  border-radius: 5px;
}
.list .list-content {
  padding: 0 14px;
  padding-right: 9px;
  max-height: 75vh;
  overflow-y: auto;
}

.card {
  background-color: white;
  color: #1b2e50;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 2px #d1d1d1;
  padding: 12px;
}
.card .card-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.card .card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card .card-footer .id {
  color: #6c798f;
  margin-right: 10px;
}
.card .card-footer .avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.card .card-footer .avatar.orange {
  background-color: #ff5630;
}
.card .card-footer .avatar.blue {
  background-color: #2684ff;
}
.card .card-footer .avatar.avatar-1 {
  background-image: url("../img/avatar-1.jpg");
  background-size: cover;
}
.card .card-footer .avatar.avatar-2 {
  background-image: url("../img/avatar-2.jpg");
  background-size: cover;
}
.card .card-footer .avatar.avatar-3 {
  background-image: url("../img/avatar-3.jfif");
  background-size: cover;
}
.card .card-footer .avatar.avatar-4 {
  background-image: url("../img/avatar-4.png");
  background-size: cover;
}
.card .card-footer .avatar.avatar-5 {
  background-image: url("../img/avatar-5.png");
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
