$font-sm: 13px;
$font-xs: 11px;
.board {
  display: flex;
  align-items: flex-start;
  color: #383838;
  overflow-x: auto;
  flex-grow: 1;
  padding-top: 25px;
}
.list {
  min-width: 320px;
  max-width: 320px;
  padding: 12px 20px;
  .list-title {
    padding-bottom: 18px;
    font-weight: 500;
    font-size: 17px;
  }
  &-grey .list-title {
    border-bottom: 3px solid #ddd;
  }
  &-cyan .list-title {
    border-bottom: 3px solid #5bdbf6;
  }
  &-orange .list-title {
    border-bottom: 3px solid #ffb855;
  }
  &-green .list-title {
    border-bottom: 3px solid #3e993c;
  }
  &-red .list-title {
    border-bottom: 3px solid #c71414;
  }
  &-blue .list-title {
    border-bottom: 3px solid #493c99;
  }
  .list-content {
    margin-top: 15px;
    padding-right: 14px;
    padding-top: 8px;
    overflow-y: auto;
    max-height: 75vh;
  }
}
.card {
  background-color: white;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 16px 24px;
  .card-content {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .description {
      color: #999;
      font-size: $font-sm;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .label {
      font-size: $font-sm;
      display: inline-block;
      align-self: flex-start;
      margin-bottom: 5px;
      border: 1px solid #e4e4e4;
      padding: 3px 12px;
      border-radius: 25px;
      color: #777;
      i {
        margin-right: 4px;
      }
    }
    .due-date {
      font-size: $font-xs;
      display: inline-block;
      align-self: flex-start;
      padding: 3px 12px;
      border-radius: 25px;
      background-color: #ff4949;
      color: white;
      margin-top: 10px;
      &.green {
        background-color: #69e89c;
      }
    }
  }
}
