.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  .logo {
    padding: 14px 25px;
    font-size: 32px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    img {
      width: 30px;
      margin-right: 8px;
    }
  }
}
