.header {
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  .logo {
    padding: 14px 25px;
    font-size: 32px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    img {
      width: 30px;
      margin-right: 8px;
    }
  }
  .btns {
    display: flex;
    align-items: center;
    margin-right: 40px;
    a {
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%) !important;
      display: inline-block;
      margin-left: 10px;
      text-decoration: none;
      color: white;
      padding: 10px 24px;
      border-radius: 20px;
      font-weight: bold;
      &.demo-btn {
        background-color: black;
      }
      &.purchase-btn {
        background-color: #39c367;
      }
    }
  }
}
