.board{
  display: flex;
  flex-grow: 1;
  padding-top: 69px;
  overflow-x: auto;
}
.list {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  min-width: 330px;
  background-color: #F3F5F6;
  .list-title{
    padding: 17px 0;
    padding-left: 35px;
    color: white;
    background-color: #30BFBF;
    font-size: 21px;
    border-right: 8px solid #00000014;
    i {
      margin-right: 10px;
    }
    &.list-cyan {
      background-color: #8F7EE6;
    }
    &.list-grey {
      background-color: #98AAB3;
    }
    &.list-light-blue{
      background-color: #00AAFF;
    }
  }
  .list-content {
    flex-grow: 1;
    padding: 0 12px;
    padding-top: 13px;
    overflow-y: auto;
  }
  &:nth-child(even){
    background-color: #EAEEEF;
  }
}
.card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  .card-overdue {
    padding: 10px 27px;
    background-color: #FFEECC;
    border-radius: 15px 15px 0 0;
    color: #FFAA00;
    i {
      color: white;
      background: #FFAA00;
      display: inline-block;
      padding: 7px;
      border-radius: 100%;
      margin-right: 7px;
    }
    span{
      font-weight: bold;
    }
  }
  .card-content {
    padding: 25px 27px;
    padding-top: 10px;
    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0;
    }
    .card-cover {
      margin: 10px 0;
      text-align: center;
      img{
        width: 250px;
        border-radius: 20px;
      }
    }
    .card-details {
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      color: #8A9499;
      & > * {
        margin-right: 17px;
        margin-top: 10px;
      }
      .tags {
        background-color: #30BFBF;
        color: white;
        padding: 4px 8px;
        border-radius: 5px;
      }
    }
  }
}