.image{
  margin-top: 15px;
  text-align: center;
  margin: 70px 0;
}
.template-image img {
  width: 100%;
  max-width: 800px;
}
.active-state-placeholder-image img {
  width: 100%;
  max-width: 450px;
}
.direction img {
  width: 90%;
}
.event-image img {
  width: 70%;
}
@media (max-width: 1200px) {
  .event-image img, .direction img {
    width: 100%;
  }
}
.badge-grey {
  color: #464646;
    background-color: #bebebe;
}
#docs-sidebar-toggler {
  background-color: white;
}
#docs-sidebar-toggler span {
  background-color: black;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #364152;
  display: flex;
  align-items: center;
}
.logo img {
  width: 30px;
  margin-right: 8px;
}
.mt-4 {
  margin-top: 40px !important;
}
.logo {
  padding-top: 5px;
}
@media (max-width: 1200px) {
  .logo {
    padding-left: 20px;
  }
}
.docs-sidebar-toggler {
  top: -5px;
  left: 10px;
}