$backgroud-color: #f5f7fb;
html {
  height: 100%;
  font-size: 15px;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $backgroud-color;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      padding-bottom: 3px;
      .tile {
        position: fixed;
        left: 0;
        right: 0;
        padding: 150px;
        background-color: #4d70f6;
      }
    }
  }
  h1 , h2 , h3 , h4 , h5 , h6 {
    margin: 0;
  }
}

::-webkit-scrollbar {
  height: 7px; 
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #d4d4d4;
  border-radius: 10px;
  margin: 0px 20px;
}
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 10px;
}