.dragging-active-card {
  position: relative;
}
.dragging-active-card::before {
  content: "";
  background: -o-repeating-linear-gradient(
  315deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  background: repeating-linear-gradient(
  135deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}
.dragging-active-card {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.cloned-card {
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}
.dragging-active-list .list-title {
  position: relative;
  background: -o-repeating-linear-gradient(
  315deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  background: repeating-linear-gradient(
  135deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
}
.dragging-active-list .list-title::before {
  background: -o-repeating-linear-gradient(
  315deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  background: repeating-linear-gradient(
  135deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  content: "";
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}
.dragging-active-list .list-content {
  position: relative;
  background: -o-repeating-linear-gradient(
  315deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  background: repeating-linear-gradient(
  135deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
}
.dragging-active-list .list-content::before {
  background: -o-repeating-linear-gradient(
  315deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  background: repeating-linear-gradient(
  135deg,
  #2c2c31,
  #2c2c31 20px,
  #222227 20px,
  #222227 40px
  );
  content: "";
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}
.cloned-list {
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
}